APP_NAME=Marg Darshak AI Service
APP_ENV=development
APP_DEBUG=true
APP_HOST=127.0.0.1
APP_PORT=8000
DATABASE_URL=sqlite+aiosqlite:///./marg_darshak_ai_service.db
STORAGE_SOURCE_DOCUMENTS_DIRECTORY=storage/source_documents
EXPORT_DIRECTORY=exports
